/* RESET */

body, h1, h2, h3, p, ul, li, a {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

/* Superinf */

.superinfo-bg {
  background: #1188ee;
  color: #ffffff ;
}

.superinfo {
  padding: 10px;
}

.menu-bg {
  background: #17222d;
  color: #ffffff;
}

/*MENU */

.menu {
  padding: 10px 0px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  color: #ffffff;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  font-size: 1.125em;
}


.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
}

.menu-nav a {
  display: block;
  padding: 10px;
}
.menu-nav a:hover {
  border-bottom: 2px solid #EE2211;
}

@media (max-width: 800px) {
  .menu-logo {
    margin: 0px 10px;
  }
  .menu-nav ul {
    padding-left: 0px;
	}
  
}

/* INRODUÇÃO */

.intro-bg {
  background-image: url(img/imagem-da-intro.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px calc((100% - 1200px) /2);
  height: 400px;
  display: flex;
  flex-wrap: wrap;
}

.matricula-info  {
  flex: 1 1 240px;
  margin: 0 10px;
  align-self: flex-end;
}

.matricula-info h1 {
  font-family: "Alice";
  font-size: 4em;
  color: white; 
}

.matricula-form{
  flex: 2 1 200px;
  margin: 0 10px;;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-end
}

.matricula-form input {
  flex: 3 1 200px;
  padding: 10px;
  border: 3px solid #ffffff;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  font-style: italic;
  color: #000000; 
  cursor: pointer;
}

.matricula-form button {
  flex: 3;
  padding: 13px;
  border: none;
  background: #EE2211;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}
.matricula-form button::after {
  content: ' ';
  display: inline-block;
  height: 20px;
  width: 25px;
  margin: 0px 0px 0px 15px;
  position: relative;
  background-image: url(img/seta_branca.svg);
  background-repeat: no-repeat;
  background-size: cover;

}

@media (max-width: 800px) {
	.matricula-info h1 {
    font-size: 3.25em;
  }
}

/* LOCALIZAÇÃO */

.mapa-info {
  flex: 1 1 600px;
  margin: 60px 40px 20px 0px;
}

.mapa-info h2 {
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Nunito";
  color: #2D1726;
}

.mapa-info span {
  font-size: 1.125em;
  font-weight: bold;
  font-family: "Nunito";
  color: #BBCCDD;
}

.mapa-info strong {
  font-size: 1.125em;
  font-weight: bold;
  font-family: "Nunito";
  color: #2D1726;
}

.local-info {
  flex: 2 1 400px;
  margin: 60px 40px 20px 0px;
}

.local-info h1 {
  font-family: "Alice";
  font-size: 4.5em;
  line-height: 90px;
  color: #2D1726;
}

.local-info strong {
  color: #1188EE;
}

.local-benef {
  flex: 1;
  max-width: 400px;
  margin: 60px 0px;
}

.local-benef li {
  display: block;
  color: #2D1726;
  border-top: 2px solid #EFF4F9;
  font-size: 1.5em;
  padding: 20px;
}
.local-benef li {
  border-bottom: 2px solid #EFF4F9;
  display: flex;
  flex-wrap: wrap;
}

.local-benef li::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 0px 10px 10px;
  position: relative;
  background-image: url(img/icones.png);
}

.chinelo::before {
  background-position: 0 -36px;

}
.coco::before {
  background-position: 0 -155px;
}
.boia::before {
  background-position: 0 -275px;
}

.local-info p {
  font-family: "Nunito";
  font-size: 1.125em;
  line-height: 22px;
  color: #445566;
}

@media (max-width: 800px) {
	.mapa-info {
    order: 0;
  }
  .mapa-info {
    margin-left: 40px;
  }
  
  .local-info{
    order: -1;
  }
  .local-info h1, .local-info p {
    margin-left: 40px ;
  }

  .local-benef li::before {
    content: "";
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 0px 90px 10px;
    position: relative;
    background-image: url(img/icones.png);
  }

  .chinelo, .boia, .coco {
    margin-left: 25px;
  }
}

/* AULA */

.onda {
    top: -40px;
    margin-top: 40px;
    position: relative;
  }

.aulas{
    font-family: "Alice";
    font-size: 5em;
    color: #445566;
  }

.aulas {
    justify-content: center;
    margin-bottom: 40px;
  }

.preco {
  background:#EFF4F9 ;
  
}

.preco-item ul {
  background: #ffffff;
  padding: 60px;
  box-shadow: 0px 5px 5px rgba(187, 204, 221, 0.4);
  border-radius: 5px;
  
}

.preco-item {
  flex: 1 1 300px;
  padding: 20px;
  margin: 10px;
}


.preco-item h3 {
  font-family: "Nunito";
  font-size: 1.5em;
  font-weight: bold;
  color: #445566;
  text-align: center;
  text-transform: uppercase;
  margin-top: -80px;
}

.preco-item img{
  margin: 0 auto;
  position: relative;
  top: -90px;
}

.preco-item li {
  font-family: "Nunito";
  font-size: 0.825em ;
  color: #445566;
  padding: 10px;
}
.preco-item li {
  display: flex;
  margin-bottom: 15px;
}

.preco-item li::before {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  border: 2px solid #FF3726;
  border-radius: 50%;
  position: relative;
  right: 5px ;
  top: 3px;
}

.preco-item span {
  font-family: "Nunito";
  font-size: 1.25em ;
  font-weight: bold;
  color: #1188ee;
}

.preco-item a {
  font-family: "Nunito";
  font-weight: bold;
  font-size: 1.25em;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 15px;
  background: #445566;
  border-radius: 5px;
  cursor: pointer;
  top: 20px;
  position: relative;
}

.preco-item a::after {
  content: ' ';
  display: inline-block;
  height: 20px;
  width: 25px;
  margin: 0px 0px 0px 15px;
  position: relative;
  background-image: url(img/seta_branca.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.desconto {
  font-family: "Nunito";
  font-size: 1.125em;
  color: #000000;
  text-align: center;
  width: 500px;
  margin: 0 auto;

}

.desconto strong {
  color: #FF3726;
}

@media(max-width:800px) {
  .preco-item {
    padding: 0px;
    margin-bottom: 40px;
  }
  
  .contatos img {
    display: none;
  }
  
}


.quote {
  background: url(img/quote.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 60px calc((100% - 1200px) /2);
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}

.citacao {
  font-family: "Alice";
  flex: 1 1 640px;
  font-size: 4.5em;
  color: #EFF4F9;
  text-align: center;
  padding: 40px;
}

.quote span {
  flex: 1 1 640px;
  color: #EFF4F9;
  font-family: "Nunito";
  font-size: 1.125em;
  text-align: center;
  
}

@media (max-width: 800px) {
  .citacao {
    font-size: 2.5em;
  }
}

.contatos {
  flex: 1 1 320px;
  padding: 20px 40px ;
  flex-wrap: nowrap;
}


.form_contato label {
  display: block;
  font-family: "nunito";
  padding: 10px;
  font-size: 1.125em;
  font-weight: bold;
  color: #445566;
}

.form_contato input {
  width: 470px;
  height: 50px;
  background: #EFF4F9;
  border: none;
  border-radius: 5px;
}

.form_contato textarea {
  width: 470px;
  height: 180px;
  background: #EFF4F9;
  border: none;
}

.form_contato button {
  padding: 15px 25px;
  background: #445566;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Nunito";
  font-size: 1.125em;
  text-align: center;
  font-weight: bold;
}

.form_contato button {
  display: flex;
  margin-top: 20px;
}

.form_contato button::after {
  content: ' ';
  display: inline-block;
  height: 20px;
  width: 25px;
  margin: 0px 5px 0px 15px;
  position: relative;
  background-image: url(img/seta_branca.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.info {
  padding-left: 40px;
}

.dados h3 {
  padding: 10px 0px;
  font-family: "Nunito";
  font-size: 1.125em;
  color: #445566;
  font-weight: bold;
}

.dados span {
  font-family: "Nunito";
  font-size: 0.875em;
  color: #445566;
  margin-top: 20px;
}

.dados a {
  font-family: "Nunito";
  font-size: 0.875em;
  color: #445566;
  font-weight: bold;
  margin-top: 100px;
}

.dados a::after {
  content: ' ';
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-left: 5px;
  position: relative;
  background-image: url(img/seta_contato.svg);
  background-repeat: no-repeat;
  background-size: cover;
  
}

.dados h3 {
  margin-top: 10px;
  display: block;
  border-bottom: 2px solid #F5F8FB;
}

.contatos img {
  padding-left: 60px;
}

@media (max-width: 800px) {
  .contatos {
    padding: 20px 20px ;
  }
  .form_contato {
    padding-left: 0px;
  }

  .form_contato textarea {
    width: 300px;
  }

  .form_contato input {
    width: 300px;
    border-radius: 5px;
  }

  .info {
    padding-left: 0px;
  }
  .contatos img {
    padding-left: 40px;
  }
  
}

.footer-bg {
  background: #1188EE ;
  color: #ffffff;
}

.footer {
  padding: 20px 0px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer-info {
  font-family: "Nunito";
  font-size: 1.125em;
  font-weight: bold;
}

@media (max-width: 800px) {
  .footer {
    justify-content: center;
  }
}

.js .js-scroll {
  opacity: 0;
  transform: translate3d(-30px,0,0);
  transition: .3s;
}

.js .js-scroll.ativo {
  opacity: 1;
  transform: translate3d(0,0,0);
}






  










